<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------<title> Website Layout | CodingLab</title>------>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="#">Aditya</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/Register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/Secret">Secret</a></li>

      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">welcome to  single page application</div>
    <div class="btns">
      <button>Learn More</button>
      <button>Subscribe</button>
    </div>
  </div>
</body>
</html>
