<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="css/register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  {{!-- {{>navbar}} --}}
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/Register" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">FirstName</span>
            <input type="text" placeholder="Enter your first name" required
            name="FirstName">
          </div>
          <div class="input-box">
            <span class="details">LastName</span>
            <input type="text" placeholder="Enter your last name" required
            name="LastName">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required
            name="Email">
          </div>
          <div class="input-box">
            <span class="details">Phone</span>
            <input type="text" placeholder="Enter your number" required
            name="Phone">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" required
            name="Password">
          </div>
          <div class="input-box">
            <span class="details">ConfirmPassword</span>
            <input type="password" placeholder="Confirm your password" required
            name="ConfirmPassword">
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" value="male" id="dot-1" checked>
          <input type="radio" name="gender" value="female" id="dot-2">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
